/* Floating feather effect for complementary mode */
.floating-feather {
	position: fixed;
	width: 1px;
	height: 1px;
	background: linear-gradient(90deg, #180deb56 60%, #011b2749 100%);
	border-radius: 50% 90% 30% 40% / 60% 40% 50% 50%;
	box-shadow: 0 2px 12px 2px rgb(1, 9, 24), 0 0 0 1px rgba(14, 2, 106, 0.804);
	pointer-events: none;
	z-index: 9999;
	transition: top 20.5s linear, opacity 15.2s, transform 1.5s linear;
	opacity: 0.11;
}
